{% extends 'includes/layout.html' %}




{% block body %}
<style>
  .card-header{
    height: 60px;
  }
  .card-body{
    height: 200px;
    position: relative;
  }
  .btn{
    position: absolute;
    bottom: 10px;
  }
</style>
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>Revolutionizing Technical Learning: ESI's AI-Powered Chatbot Platform</h1>
    <p class="lead">Unlock your technical potential with ESIbot! Our innovative AI chatbot provide you with accurate answers, relevant resources, and the support you need to succeed in your studies. Don't miss this opportunity to enhance your learning experience and achieve your goals.</p>
  </div>


  <div class="p-5 rounded mt-1">
    <div class="row">


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Project Management
          </div>
          <div class="card-body">
            <h5 class="card-title">Generate answers for your questions about Project Management</h5>
            <a href="/pm" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Knowledge Management
          </div>
          <div class="card-body">
            <h5 class="card-title"> Generate answers for your questions about KM </h5>
            <a href="/km" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Entreprise Content Management
          </div>
          <div class="card-body">
            <h5 class="card-title">Generate answers for your questions about ECM</h5>
            <a href="/ecm" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Marketing
          </div>
          <div class="card-body">
            <h5 class="card-title">  Generate answers for your questions about Marketing </h5>
            <a href="/marketing" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Business Intelligence
          </div>
          <div class="card-body">
            <h5 class="card-title">  Generate answers for your questions about BI </h5>
            <a href="/bi" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Information Retrieval
          </div>
          <div class="card-body">
            <h5 class="card-title"> Generate answers for your questions about IR </h5>
            <a href="/IR" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            TEC
          </div>
          <div class="card-body">
            <h5 class="card-title">  Generate answers for your questions about TEC </h5>
            <a href="/tec" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Management
          </div>
          <div class="card-body">
            <h5 class="card-title">Generate answers for your questions about Management</h5>
            <a href="/management" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

    </div>
  </div>
</main>
{% endblock %}
